<html>
  <head>
    <link rel="stylesheet/less" href="/less/style.less">
    <script src="/js/vendor/less.js"></script>
    <script src="/js/vendor/modernizr-min.js"></script>
  </head>
  <body>
    <img id="bg" src="/img/shrtr.png" />
    <div id="wrapper">
      <div id="main">

        <div id="shrtr">
        </div>

        <script type="text/template" id="shrtr-form-template">
          <form action="javascript:window.shrtrFormSubmit();" method="post" id="shrtr-url-form">  
            <input class="url-input" type="text" url="url"> <br />
            <input type="submit" class="btn" value="Shrtn">  
          </form>  
        </script>

        <script type="text/template" id="shrtr-display-template">
          <div class="shrtr-display">
            <div class="url-display url-one"><a href="{{ urlOne }}">{{ urlOne }}</a></div>
            <div class="url-display url-two"><a href="{{ urlTwo }}">{{ urlTwo }}</a></div>  
          </div>
        </script>
      </div>
      <div id="footer">
        <ul class="inlined">
          <li><a href="http://sideshowcoder.com">Author</a></li>
        </ul>
      </div>
    </div>

    <!-- Vars -->
    <script>window.shrtrSurl = "<%= surl %>";</script>

    <!-- Load library scripts -->
    <script src="/js/vendor/jquery-1.7.1.min.js"></script>
    <script src="/js/vendor/underscore-min.js"></script>

    <!-- Load page scripts -->
    <script src="/js/app.js"></script>

    <!-- Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28014986-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();

</script>
</body>
